*.db
*.opendb
*.vs
*.exe
*.ilk
*.bak
*.pdb
*.dll
*.obj
*.log
*.bundle
*.js
*.jpg
*.webp
*.png
*.zip
**/Debug/*
**/Release/*
**/GeneratedFiles/*
**/thirdparty*
resources/*/*
ctrl_config.json